var app = Application.currentApplication()
app.includeStandardAdditions = true
app.activate()

var opts = {{json .Opts}}

try{
	var res = app[{{json .Operation}}](opts)
	if (Array.isArray(res)) {
		res.join({{json .Separator}})
	} else {
		res.toString()
	}
} catch (e) {
	if(String(e).includes("cancelled")){
		$.exit(1)
	}
}