ObjC.import("stdlib")
ObjC.import("stdio")

var app = Application.currentApplication()
app.includeStandardAdditions = true
app.activate()

var opts = {{json .Opts}}
if ("withIcon" in opts && opts.withIcon.startsWith("/")){
	opts.withIcon = Path(opts.withIcon)
}

try{
	var res = app[{{json .Operation}}]({{json .Text}}, opts)
	$.printf(res.buttonReturned)
} catch (e) {
	if(String(e).includes("cancel")){
		$.exit(5)
	}
	$.exit(1)
}

$.exit(0)
